*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.layout{
    display: flex;
    height: 80%;
    width: 100%;
    background-color: rgb(9, 255, 0);
}

.sidebar{
    flex: 0 0 200px;
    background-color: rgb(255, 238, 0);
}

main{
    display: flex;
    flex-grow: 1;
    margin: 20px;
    gap: 20px;
}

.card{
    height: 300px;
    width: 300px;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgb(0, 247, 255);
}

#card-destaque{
    flex-grow: 2;
    flex-basis: 300px;
    order: -1;
    align-self: center;
    background-color: rgb(38, 0, 255);
}

footer{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 0, 221);
}