header{
    width: 1140px;
    margin: auto;
    padding: 17px; 
    background-color: #f24a1d;
    position: sticky;
    top: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    list-style: none;
}

header a{
    color: white;
    text-decoration: none;
}

.menu-esquerdo ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
    
.menu-direito ul{
    display: flex;
    gap: 20px;
}

main{
    width: 1140px;
    margin: auto;
    margin-top: 70px;
}

main h1{
    text-align: center;
}

main form{
    width: 500px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.inserir{
    height: 35px;
    width: 500px;
}

select{
    width: 250px;
}

.alternativas{
    display: flex;
    flex-direction:row;
    gap: 10px;
}

textarea{
    height: 150px;
}

.TeC{
    display: flex;
    gap: 10px;
}

.botao-input{
    display: flex;
    gap: 5px;
}

.botao-button{
    display: flex;
    gap: 5px;
}

input[type="button"]{
    width: 70px;
}

button{
    height: 35px;
    width: 150px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: rgb(32, 148, 202);
    cursor: pointer;
}