@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
}

body{
    background-color: black;
}

header{
    text-align: center;
    padding: 20px;
}

.prophecy{
    text-align: justify;
    margin: 25px;
}

.prophecy h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 50px;
    width: 16vw;
    height: 40vh;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
  margin-top: 15px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  background-color: green;
  border-radius: 5px;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.4s;
}