*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgb(240, 240, 240);
}

header{
    background-color: rgb(37, 37, 37);
    text-align: center;
    padding: 20px;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 25px;
    width: 16vw;
    height: 48vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    mix-blend-mode: multiply;
    width: 15vw;
    height: 30vh;
    min-width: 250px;
    min-height: 230px;
}

.card h2, p, span{
    margin-bottom: 0.2rem;
}
.card span{
    font-weight: 1000;
}
.card button{
    all: unset;
    padding: 5px;
    background-color: #086ee2;
    color: #f0ffff;
    border-radius: 5px;
    cursor: pointer;
}
.card button:hover{
    background-color: #3b8eec;
}